.card {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

::ng-deep .mdc-evolution-chip-set .mdc-evolution-chip {
  z-index: 0 !important;
}